system-settings {
  actorsystem-name: "WorkshopActorSystem"
}

akka {  
    loggers = ["Akka.Event.StandardOutLogger"]
    stdout-loglevel = DEBUG
    loglevel = DEBUG

    actor {
        provider = remote
    }
    remote {
         dot-netty.tcp {
            port = 8081 #bound to a specific port
            hostname = localhost
        }
    }
}