system-settings {
  actorsystem-name: "WorkshopActorSystem"
}

akka {  
    stdout-loglevel = DEBUG
    	
    actor {
        provider = cluster
    }

    remote {
        dot-netty.tcp {
            transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
            transport-protocol = tcp
            applied-adapters = []
            port = 0
            hostname = localhost
        }
    }

    cluster {
        seed-nodes = ["akka.tcp://WorkshopActorSystem@localhost:8202"]
        roles = [messagereader]
    }
}