system-settings {
  actorsystem-name: "WorkshopActorSystem"
}

akka {  
    stdout-loglevel = DEBUG
    	
    actor {
        provider = cluster
        deployment {
          /devices {
            router = consistent-hashing-group
            routees.paths = ["/user/devices"]
            cluster {
                enabled = on
                max-nr-of-instances-per-node = 1
                allow-local-routees = off
                use-role = devicenode
            }
          }
       }
    }

    remote {
        dot-netty.tcp {
            transport-class = "Akka.Remote.Transport.DotNetty.TcpTransport, Akka.Remote"
            transport-protocol = tcp
            applied-adapters = []
            port = 0
            hostname = localhost
        }
    }

    cluster {
        seed-nodes = ["akka.tcp://WorkshopActorSystem@localhost:8202"]
        roles = [messagereader]
    }
}